@font-face {
  font-family: "Intro";
  src: url("../fonts/webfonts_Intro/Intro.ttf.woff") format("woff"),
    url("../fonts/webfonts_Intro/Intro.ttf.svg#Intro") format("svg"),
    url("Intro.ttf.eot"),
    url("../fonts/webfonts_Intro/Intro.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.body-index {
  display: grid;
  grid-template-columns: 1fr 55%;
  grid-template-areas:
    "header header"
    "main aside"
    "footer aside";
}
.header {
  grid-area: header;
}
.main-index,
.main-possibilities {
  grid-area: main;
}
.aside {
  grid-area: aside;
}
.header__menu {
  width: 90%;
  margin: 49px auto 0px auto;
}
.nav_top {
  display: flex;
  justify-content: space-between;
}
.nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}
.nav__link {
  margin-right: 34px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  text-decoration: none;
}
.nav__link_black {
  color: #000000;
}
.nav__link_violet {
  color: #5222d0;
}
.main-index__container {
  margin-left: 9vw;
}

.main-posibillities__container {
  width: 86%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5vw;
}
.title {
  font-family: "Intro", serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(25px, 8vw, 60px);
  line-height: 120%;
}
.card {
  max-width: 100%;
}
.card_background_red {
  background-color: #ec615b;
  padding: 0 20px;
}
.card__image {
  width: 100%;
}
.card__title {
  font-family: "Intro", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}
.card__title_white {
  color: white;
}
.card__text {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
}
.input {
  margin-bottom: 23px;
  width: 95%;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
}
.button {
  border-radius: 100px;
  border-style: none;

  font-family: "Intro", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  cursor: pointer;
}
.button_violet {
  padding: 14px 14px 11px 16px;
  background-color: #5222d0;
  color: white;
}
.button_violet:hover {
  background-color: white;
  color: #5222d0;
  border: 1px solid #5222d0;
}
.button_big {
  padding: 28px 28px 21px 33px;
  font-size: clamp(20px, 5vw, 35px);
  line-height: 100%;
}
.button_img {
  padding-top: 10px;
}

.footer {
  grid-area: footer;
  padding-top: 112px;
  padding-bottom: 80px;
}
.footer__menu {
  width: 86%;
  margin: 0 auto;
}
/* .footer_index {
  margin-left: 9vw;
} */
/*Tablet*/
@media (max-width: 1023px) {
  .main-posibillities__container {
    width: 95%;
    grid-template-columns: 1fr 1fr;
  }
  .footer__menu {
    width: 95%;
  }
}
/*Mobile*/
@media (max-width: 767px) {
  .main-posibillities__container {
    grid-template-columns: 1fr;
  }
}
